<div id="clouds">
  <div class="cloud x1"></div>
  <div class="cloud x2"></div>
  <div class="cloud x3"></div>
  <div class="cloud x4"></div>
  <div class="cloud x5"></div>

  <div class="header-container">
    <div class="header">hapli</div>
  </div>

  <div class="search">

  <%= form_tag(controller: "results", action: "index", method: "post") do %>
    <%= text_field_tag :q, nil, class: 'input' %>
    <%= submit_tag("Search") %>
  <% end %>

  </div>

  <div class="grass">
  </div>

</div>

