<div class="page">

  <div class="logo-container">
    <div class="logo"><a href="/" class="results-logo">hapli</a></div>
  </div>

  <div class="container">

    <p>About <%= @hits %> results (<%= @time %> seconds)</p>

    <br />

    <% @parsed["hits"]["hits"].each do |result| %>
    <a href="<%= result["_id"] %>"><%= result["_id"] %></a><br />
    <% end %>

  </div>

</div>
